@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.header a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 20px;
}

.header a[class='active'] {
    color: #7a734d;
}

.logo {
    margin-left: 40px;
}

.user {
    margin-right: 20px;
    text-align: center;
}

.user img {
    height: 60px;
}

.user h6 {
    margin: 0;
    font-size: 20px;
}

.mid {
    margin-right: 120px;
}