.all {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 750px;
    width: 800px;
    justify-content: space-between;
}

.genresBox {
    display: flex;
    margin-bottom: 20px;
}

.genresBox h4 {
    margin-right: 30px;
}

.genresBoxParagraf {
    display: flex;
    align-items: center;

}

.rating {
    display: flex;
    align-items: center;
}

.rating h4 {
    margin-right: 30px;
}

p {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #7a734d;
}

img {
    border-radius: 20px;
}

h3 {
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: gold;
    margin: 0;
}

h4 {
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: #7a734d;
    margin: 0;
}

.charactersBox {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 1400px;
}


